apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ${CERTIFICATE_AUTHORITY_DATA}
    server: https://104.155.211.55
  name: gke_sample-application-1112_asia-east1-c_my-django
contexts:
- context:
    cluster: gke_sample-application-1112_asia-east1-c_my-django
    user: gke_sample-application-1112_asia-east1-c_my-django
  name: gke_sample-application-1112_asia-east1-c_my-django
- context:
    cluster: gke_sample-application-1112_asia-east1-c_my-django
    namespace: production
    user: gke_sample-application-1112_asia-east1-c_my-django
  name: production
- context:
    cluster: gke_sample-application-1112_asia-east1-c_my-django
    namespace: staging
    user: gke_sample-application-1112_asia-east1-c_my-django
  name: staging
current-context:
kind: Config
preferences: {}
users:
- name: gke_sample-application-1112_asia-east1-c_my-django
  user:
    client-certificate-data: ${KUBECFG_CRT}
    client-key-data: ${KUBECFG_KEY}
    token: ${CLIENT_TOKEN}
