
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ${CERTIFICATE_AUTHORITY_DATA}
    server: https://104.197.126.252
  name: gke_sample-application-1112_us-central1-a_web-application
contexts:
- context:
    cluster: gke_sample-application-1112_us-central1-a_web-application
    user: gke_sample-application-1112_us-central1-a_web-application
  name: gke_sample-application-1112_us-central1-a_web-application
- context:
    cluster: gke_sample-application-1112_us-central1-a_web-application
    namespace: production
    user: gke_sample-application-1112_us-central1-a_web-application
  name: production
- context:
    cluster: gke_sample-application-1112_us-central1-a_web-application
    namespace: staging
    user: gke_sample-application-1112_us-central1-a_web-application
  name: staging
current-context:
kind: Config
preferences: {}
users:
- name: gke_sample-application-1112_us-central1-a_web-application
  user:
    client-certificate-data: ${KUBECFG_CRT}
    client-key-data: ${KUBECFG_KEY}
    token: ${CLIENT_TOKEN}
