{% extends "cookbook/base.html" %}
{% load bootstrap3 %}
{% block content %}
    
    {% if ingredient_list %}


    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th colspan="2">

            </th>
        </tr>
        {% for ingredient in ingredient_list %}
        <tr>
            <td>{{ingredient.name}}</td>
            <td>{{ingredient.description}}</td>
            <td><a href="{% url 'cookbook:edit_ingredient' ingredient.id %}">Edit</a></td>
            <td><a href="{% url 'cookbook:delete_ingredient' ingredient.id %}">Delete</a></td>
        </tr>
       {% endfor %} 
    </table>
    
    {% else %}
    <p>No ingredients available.</p>
    {% endif %}
    
{% endblock content %}
