{% extends "cookbook/base.html" %}

{% load bootstrap3 %}
{% block title %} Measurements {% endblock title %}
{% block content %}
   {% if measurement_list %}
   <tr>
       <th>Name</th>
       <th>Description</th>
       <th colspan="2">

       </th>
   </tr>
   {% for measurement in measurement_list %}
       <td>{{measurement.name}}</td>
       <td>{{measurement.description}}</td>
       <td><a href="{% url 'cookbook:edit_measurement' measurement.id %}">Edit</a></td>
       <td><a href="{% url 'cookbook:delete_measurement' measurement.id %}">Delete</a></td>
   {% endfor %}
   {% else %}
        <p>No measurements available.</p>
   {% endif %} 
{% endblock content %}
